<div class="container">
  <div class="d-flex justify-content-center">
    <button id="createBtn" (click)="create()" class="btn btn-success">Create<i class="fas fa-plus-circle ml-2" aria-hidden="true"></i></button><br>
  </div>
</div>
<br>
<div class="container-fluid bg-danger bg-gradient">
  <div class="d-flex justify-content-center">
    <ul class="list-group mx-auto justify-content-center align-items-center"  *ngIf="counters.length > 0">
      <p class="bg-danger bg-gradient m-1">Counters</p>
      <li class="list-group-item m-1" *ngFor="let count of counters">
        <button id="decrBtn" (click)="decr(count, 0)" class="btn btn-danger">-</button>    {{count.value}}    <button id="incrBtn" (click)="incr(count, 0)" class="btn btn-primary">+</button></li>
    </ul>
  </div>
</div>
<br>
<div class="container-fluid bg-primary bg-gradient">
  <div class="d-flex justify-content-center bg-primary bg-gradient">
    <ul class="list-group mx-auto justify-content-center align-items-center" *ngIf="superCounter.length > 0">
      <p class="bg-primary bg-gradient m-1">Super Counters</p>
      <app-super-counter  *ngFor="let count of superCounter" [superC]="count"></app-super-counter>
    </ul>
  </div>
</div>
<br>
<div class="container-fluid bg-warning bg-gradient">
  <div class="d-flex justify-content-center bg-warning bg-gradient">
    <ul class="list-group mx-auto justify-content-center align-items-center" *ngIf="superDuperCounter.length > 0">
      <p class="bg-warning bg-gradient m-1">Super Duper Counters</p>
      <app-super-duper-counter [create]="create" *ngFor="let count of superDuperCounter" [superDC]="count"></app-super-duper-counter>

    </ul>
  </div>
</div>

